<%@ Control Language="C#" AutoEventWireup="true"
    Inherits="CMSWebParts_Navigation_mainNav"  CodeFile="~/CMSWebParts/Navigation/mainNav.ascx.cs" %>
<cms:CMSListMenu ID="menuElem" runat="server" />
